p{
    color:rgb(142, 10, 34);
    background-color: rgb(218, 244, 22);
    text-align: justify;
    font-weight:500;
    /* text-decoration: underline dotted; */
    letter-spacing:2px;
    font-size: 20px;
}

a{
    color:rgb(135, 13, 201);
    font-weight: bold;
    text-decoration: none;
    /* font-size: 40px; */
    font-family: 'Times New Roman', Times, serif
    ;
    
}

h1{
    color: rgb(26, 18, 18);
    /* background-color:rgb(238, 18, 238); */
    text-align: center;
    /* text-decoration:  underline dotted red; */
    font-size: 50px;

}

h2{
    color:rgb(131, 16, 16);
    text-align: start;

}
hr{
   background-color: #111;
}