<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is home page</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis et quo maxime, voluptatem veniam eveniet voluptatum? Praesentium incidunt deleniti similique dolorem possimus distinctio tempore ducimus quo aliquam delectus, at molestias?
    Officia dignissimos placeat quos ab maiores non vitae, qui mollitia. Velit maxime quasi, non unde illo at quo facilis pariatur quae obcaecati earum recusandae officiis amet rem delectus doloremque reiciendis?
    Illo sequi neque nihil rem maxime reiciendis alias fugiat, eveniet ex blanditiis quam nulla libero consectetur ipsa dolores cumque quisquam distinctio praesentium id. Tempora obcaecati et repudiandae ipsum debitis excepturi!
    Laboriosam aperiam molestias recusandae libero itaque officiis assumenda consectetur corporis, architecto accusantium tenetur repellat temporibus cumque delectus adipisci voluptates quo cum magnam quibusdam nesciunt. Consequuntur, voluptates. Asperiores placeat ab itaque!
    Excepturi, optio quasi consectetur accusamus quis, nobis illo nemo placeat dolorum debitis nam hic. Porro dolores impedit placeat voluptatibus laudantium, consequuntur hic veniam saepe. Perspiciatis esse vero ducimus libero voluptatibus.
    Aspernatur nulla optio saepe amet. Libero quo suscipit dolores alias dicta harum officia, rerum illo praesentium reprehenderit modi in, totam voluptate vero repellendus autem ad voluptatem saepe reiciendis numquam. Est.</p>

    <h3> <%= 1 * 2 %></h3>

    <button>Click Me ! </button>


</body>
</html>