<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new post </title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form method="post" action="/posts">
        <input type="text" placeholder="enter username " name="username"> <br>
        <br>
        <textarea placeholder="write your content" name="content"></textarea> <br><br>
        <button>Submit Post</button>
    </form>
</body>
</html>